body{
    margin: 0;
}
body *, body *::before, body *::after{
    box-sizing: border-box;
}
.header, .visual, .main, .slogan, .footer-content{
    width: 940px;
    margin: 0 auto;  
    
}
.header{
    background-color: yellow;
    height: 10vh;
}
.visual{
    background-color: salmon;
    height: 10vh;

}
.main{
    background-color: blue;
    padding: 30px 15px;
}
.main::after{
     content: "";
     display: block;
     clear: both;
}
.group{
    height: 60vh;
    margin: 0 15px;
}
.group1{
    background-color: violet;
    float: left;
    width: 250px;
}
.group2{
    background-color: aqua;
    width: 380px;
    float: left;
}
.group3{
    background-color: sandybrown;
    float: left;
    width: 190px;
}
.slogan{
    background-color: lightgreen;
    height: 10vh;
    /* clear: both; */
    /* margin-top: 250px; */
}
.footer{
    background-color: silver;
}
.footer-content{
    background-color: pink;
    height: 10vh;
}