@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(./fontello.css);
@import url(./normalize.css);
/* 숨김 콘텐츠 */
.a11y-hidden{
    background-color: red;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: polygon(0 0, 0 0, 0 0);
}
/* 스타일 초기화 */
.reset-list{
    list-style: none;
    margin: 0;
    padding-left: 0;
}
html{
    font-size: 10px;
}
body{
    background-color: #ccc;
    font-size: 1.2rem;
    font-weight: 300;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
body *, body *::before, body *::after{
    box-sizing: border-box;
}
/* 링크 스타일 */
a{
    text-decoration: none;
    color: inherit;
}
.header, .visual, .main, .slogan, .footer-content{
    width: 940px;
    margin: 0 auto;  
    
}
/* 헤더 */
.header{
    background-color: #fff;
    position: relative;
    padding: 0 30px 35px;
    border-radius: 0 0 15px 15px;
}
/* 로고 */
.logo{
    margin: 0;
    position: absolute;
    top: 41px;
    left: 65px;
    font-size: 100%;
    line-height: 1;
}
/* 안내링크 */
.member{
    margin: 0;
    list-style: none;
    padding-left: 0;
    text-align: right;
    font-size: 0;
    padding: 5px 0;
    position: relative;
    right: -10px;
}
.member li{
    display: inline-block;
    font-size: 1.2rem;
}
.member a{
    display: inline-block;
    padding: 5px 10px;
    text-transform: uppercase;
}
.divider{
    margin: 0 3px;
}
/* 메인 메뉴 */
.menu{
    border-top: 2px solid #000;
    /* box-shadow: 0 -2px 0 0 #000; */
    background:#d66c2a linear-gradient(to bottom, #e8aa2e 0%,#d66c2a 35%,#d66c2a 70%,#e8aa2e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-radius: 0 0 5px 5px;
    height: 47px;
    padding-left: 225px;
}
.menu a{
    outline: 0;
}
.menu-item{
    float: left;
    border-left: 1px solid #fff;
    position: relative;
}
.menu-item-button{
    display: block;
    line-height: 45px;
    color: #fff;
    padding: 2px 20px 0;
    font-size: 1.6rem;
    font-weight: 700;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
}
.menu-act .menu-item-button{
    color: #ff0; 
    /* border-bottom: 2px solid #000; */
}
.menu-act .menu-item-button::after{
    content: "";
    display: block;
    background-color: #000;
    height: 2px;
    margin-top: -2px;
}
.sub-menu{
    position: absolute;
    display: none;
    top: 47px;
    white-space: nowrap; 
}
.menu-act .sub-menu{
    display: block;
}
.sub-menu1, .sub-menu2, .sub-menu3{
    left: 0;
}

.sub-menu4, .sub-menu5, .sub-menu6{
    right: 0;
}
.sub-menu li{
    display: inline-block;
}
.sub-menu a{
    display: inline-block;
    padding: 8px 0;
    margin-right: 5px;
}
/* .sub-menu a::before{
    content: '\f192';
    font-family: 'fontello';
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
}
.sub-menu a:hover::before, .sub-menu a:focus::before{
    content: '\e800';
} */
.sub-menu a:hover, .sub-menu a:focus{
    color: #f00;
}
.visual{
    background-color: salmon;
    height: 10vh;

}
.main{
    background-color: blue;
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: space-between;
}
.group{
    height: 60vh;
}
.group1{
    background-color: violet;
    width: 250px;
}
.group2{
    background-color: aqua;
    width: 380px;
}
.group3{
    background-color: sandybrown;
    width: 190px;
}
.slogan{
    background-color: lightgreen;
    height: 10vh;
    /* clear: both; */
    /* margin-top: 250px; */
}
.footer{
    background-color: silver;
}
.footer-content{
    background-color: pink;
    height: 10vh;
}